// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//
@import './colors.scss';

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $indigo,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: true !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 640px,
  lg: 740px,
  xl: 840px,
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@import './fonts.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Sriracha');
@import url('https://fonts.googleapis.com/css?family=Kanit');

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  padding-bottom: 10px;
  margin-bottom: 15px;
  max-width: 100%;
}

/* img:hover {
  animation: pulse 0.5s;
} */

.no-padding {
  padding-left: 1;
  padding-right: 1;
}

.frm-hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.img-container{
  position:relative;
  display:inline-block;
  width: 100%;
}
.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.overlay span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#000;
}
.event-text{
  font-family: 'Sriracha', cursive;
  font-size: 3rem;
}
.event-text-sub{
  font-family: 'Sriracha', cursive;
  font-size: 2rem;
}

.event-text-body{
  font-family: 'Kanit', sans-serif;
}
.header-bg-table, .header-bg {
  height: 500px;
  width: 100%;
  padding: 0%;
  margin: 0%;
}
.header-bg-table {
  border:0px solid black;
  table-layout: fixed;
  width: 100%;
  padding: 0%;
  margin: 0%;
}
.header-bg {
  background:url('https://www.vector.in.th/muiccollective/img/bg.png');
  background-repeat:no-repeat;
}

.col-centered{
  float: none;
  margin: 0 auto;
}